

  <div id="menu">
    <a [routerLink]="['/home']" class="btn">Home</a>
    <a [routerLink]="['/about']" class="btn">About</a>
	<a [routerLink]="['/login']" class="btn">Login</a>
	<a [routerLink]="['/expression']" class="btn">expression demo</a>
	<a [routerLink]="['/search']" class="btn">search</a>
	<a [routerLink]="['/search/laptop']" class="btn">search/laptop</a>
	<a [routerLink]="['/find']" class="btn">find</a>
  </div>

  <br><br><br><br><br>

<div id="container">
  <router-outlet></router-outlet>
</div>
